<ion-header>
    <ion-toolbar>
        <ion-title>Contact</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Openingstijden</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Maandag t/m donderdag: 8:30 - 12:30 / 13:00 - 17:00 <br>
            Vrijdag: 8:30 - 12:30 / 13:30 - 17:00 <br>
            Zaterdag & Zondag gesloten
        </ion-card-content>
    </ion-card>

    <ion-card>
        <a href="https://www.google.nl/maps/place/Minister+Ruysstraat+6,+6162+XK+Geleen/@50.9750443,5.8251555,21z/data=!4m5!3m4!1s0x47c0c7143a60e79f:0x3eddd043b218f4fe!8m2!3d50.975041!4d5.8252923">
            <ion-card-header>
                <ion-card-title>Locatie</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Minister Ruysstraat 4 <br> 6162XK Geleen <br> Nederland
            </ion-card-content>
        </a>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>
                Digitaal
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item>
                    <ion-label><a href="mailto:info@bsbverzekeringen.nl">info@bsbverzekeringen.nl</a></ion-label>
                    <ion-icon name="at"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label><a href="https://www.bsbverzekeringen.nl">www.bsbverzekeringen.nl</a></ion-label>
                    <ion-icon name="globe"></ion-icon>
                </ion-item>
                <ion-item>
                    <ion-label><a href="tel:0031464230231">+31 464 230 231</a></ion-label>
                    <ion-icon name="call"></ion-icon>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
