<ion-menu side="start" menuId="main" contentId="main-router" swipeGesture="true">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>{{title}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <ion-item [routerLink]="['./','home']">
                <ion-icon name="home"></ion-icon>
                Home
            </ion-item>
            <ion-item [routerLink]="['./', 'contact']">
                <ion-icon name="contacts"></ion-icon>
                Contact
            </ion-item>
            <ion-item>
                <ion-icon name="logo-twitter"></ion-icon>
                Twitter
            </ion-item>
            <ion-item>
                <ion-icon name="logo-facebook"></ion-icon>
                Facebook
            </ion-item>
            <ion-item>
                <ion-icon name="paper"></ion-icon>
                Aanrijdingsformulier
            </ion-item>
            <ion-item>
                <ion-icon name="information-circle"></ion-icon>
                Algemene voorwaarden
            </ion-item>
            <ion-item>
                <ion-icon name="paper-plane"></ion-icon>
                Groene kaart aanvragen
            </ion-item>
            <ion-item>
                <ion-icon name="link"></ion-icon>
                Polisvoorwaarden
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
