<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Hulp nodig?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item routerLink="/bel-ons">
      <ion-label>Bel ons</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Noodnummers Europa</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Autopech</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Bankpas verloren</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Diefstal in het buitenland</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Rechtsbijstand inschakelen</ion-label>
    </ion-item>
  </ion-item-group>
</ion-content>
