<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon slot="icon-only" name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="!isLoggedIn">
        <form [formGroup]="loginForm">
            <ion-card-header>
                <ion-card-title>Login</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-item>
                    <ion-label position="floating">Email</ion-label>
                    <ion-input formControlName="email" type="email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input formControlName="password" type="password" inputmode="password"></ion-input>
                </ion-item>
                <ion-button (click)="onLogin()" class="ion-margin-vertical" expand="block" type="button">Submit
                </ion-button>
            </ion-card-content>
        </form>
    </ion-card>

    <ion-button *ngIf="isLoggedIn" (click)="onLogout()" expand="block">Logout</ion-button>
</ion-content>
