<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon slot="icon-only" name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card routerLink="/schade-melden">
        <ion-card-header>
            <ion-card-title>Schade Melden?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Klik op deze kaart als u schade heeft en deze wil melden bij BSB Verzekeringen.
        </ion-card-content>
    </ion-card>

    <ion-card routerLink="/hulp-nodig">
        <ion-card-header>
            <ion-card-title>Hulp nodig?</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Klik op deze kaart als u hulp nodig heeft.
        </ion-card-content>
    </ion-card>
</ion-content>
