<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Bel ons</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <a href="tel:0031464230231">
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>+31 464 230 231</ion-card-subtitle>
                <ion-card-title>Klik hier...</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                ...om ons te bellen op werkdagen tussen 8:30 en 17:00.
            </ion-card-content>
        </ion-card>
    </a>

    <a href="tel:0031622550055">
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>+31 6 22 55 00 55</ion-card-subtitle>
                <ion-card-title>Klik hier...</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                ...om ons buiten de kantoortijden te bellen.
            </ion-card-content>
        </ion-card>
    </a>

</ion-content>
